<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!-- 캐시 사용 여부 -->
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
  </settings>

  <!-- typeAliases -->
  <typeAliases>
    <typeAlias alias="User" type="com.tickerbell.jujuclub.auth.dto.LoginDTO"/>
    <typeAlias alias="HoldinglistItemDTO" type="com.tickerbell.jujuclub.stock.dto.HoldinglistItemDTO"/>
    <typeAlias alias="MockPortfolioDTO" type="com.tickerbell.jujuclub.stock.dto.MockPortfolioDTO"/>
    <typeAlias alias="PortfolioAllocationItemDTO" type="com.tickerbell.jujuclub.stock.dto.PortfolioAllocationItemDTO"/>
    <typeAlias alias="UserInvestSummeryDTO" type="com.tickerbell.jujuclub.stock.dto.UserInvestSummeryDTO"/>
    <typeAlias alias="WatchlistItemDTO" type="com.tickerbell.jujuclub.stock.dto.WatchlistItemDTO"/>
  </typeAliases>
</configuration>
