<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tickerbell.jujuclub.auth.mapper.AccountMapper">

    <select id="checkAccountExist" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM USER_ACCOUNT
        WHERE user_seq = #{userSeq}
    </select>

    <insert id="insertAccount" parameterType="com.tickerbell.jujuclub.auth.dto.AccountDTO">
        INSERT INTO USER_ACCOUNT (
            user_seq,
            account_no,
            cash_balance,
            created_at,
            updated_at
        ) VALUES (
                     #{userSeq},
                     #{accountNo},
                     #{cashBalance},
                     NOW(),  NOW()   )
    </insert>

</mapper>