<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickerbell.jujuclub.auth.mapper.LoginMapper">
  <!-- id로 사용자 조회 -->
  <select id="checkUser" parameterType="com.tickerbell.jujuclub.auth.dto.LoginDTO" resultType="int">
    SELECT COUNT(*)
    FROM USERS
    WHERE USER_ID = #{user_id}
    AND user_pw = #{user_pw}
  </select>
</mapper>