<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickerbell.jujuclub.ranking.mapper.RankingMapper">

  <select id="getUserRankingInfo" parameterType="int"
    resultType="com.tickerbell.jujuclub.ranking.dto.RankingDTO$RankingResponse">
    SELECT A.USER_SEQ,
           A.USER_ID,
           A.USER_NAME,
           A.USER_LEVEL,
           A.CASH_BALANCE,
           A.userAssetRank,
           COALESCE(L.userLssnCnt, 0)  AS userLssnCnt,
           COALESCE(L.userLssnRank, 0) AS userLssnRank
    FROM (SELECT U.USER_SEQ,
                 U.USER_ID,
                 U.USER_NAME,
                 U.USER_LEVEL,
                 UA.CASH_BALANCE,
                 ROW_NUMBER() OVER (
                   ORDER BY UA.CASH_BALANCE DESC
                   ) AS userAssetRank
          FROM USERS U
                 LEFT JOIN USER_ACCOUNT UA
                           ON UA.USER_SEQ = U.USER_SEQ) A
           LEFT JOIN (SELECT U.USER_SEQ,
                             COUNT(UQR.RESULT_SEQ) AS userLssnCnt,
                             ROW_NUMBER() OVER (ORDER BY COUNT(UQR.RESULT_SEQ) DESC,U.CREATED_AT DESC)    AS userLssnRank
                      FROM USERS U
                             LEFT JOIN USER_QUESTION_RESULT UQR
                                       ON UQR.USER_SEQ = U.USER_SEQ
                                         AND UQR.FINISHED_AT IS NOT NULL
                      GROUP BY U.USER_SEQ,
                               U.CREATED_AT) L
                     ON A.USER_SEQ = L.USER_SEQ
    WHERE A.USER_SEQ = #{userSeq};
  </select>
  <select id="getRankingBoardListOBA"
    resultType="com.tickerbell.jujuclub.ranking.dto.RankingDTO$RankingListOBA">
    SELECT U.USER_SEQ,
           U.USER_ID,
           U.USER_NAME,
           U.USER_LEVEL,
           UA.CASH_BALANCE,
           COUNT(UQR.RESULT_SEQ)                                   AS userLssnCnt,
           ROW_NUMBER() OVER ( ORDER BY CASH_BALANCE DESC) AS userAssetRank
    FROM USERS U
           LEFT OUTER JOIN USER_ACCOUNT UA ON UA.USER_SEQ = U.USER_SEQ
           LEFT JOIN USER_QUESTION_RESULT UQR
                     ON U.USER_SEQ = UQR.USER_SEQ
                       AND UQR.FINISHED_AT IS NOT NULL
    GROUP BY U.USER_SEQ, U.USER_ID, U.USER_NAME, U.USER_LEVEL, UA.CASH_BALANCE
  </select>
  <select id="getRankingBoardListOBR"
    resultType="com.tickerbell.jujuclub.ranking.dto.RankingDTO$RankingListOBR">
    SELECT U.USER_NAME,
           U.USER_SEQ,
           UA.cash_balance,
           COUNT(UQR.RESULT_SEQ)                                   AS userLssnCnt,
           ROW_NUMBER() OVER (ORDER BY COUNT(UQR.RESULT_SEQ) DESC,U.CREATED_AT DESC) AS userLssnRank
    FROM USERS U
           LEFT JOIN USER_QUESTION_RESULT UQR
                     ON U.USER_SEQ = UQR.USER_SEQ
                       AND UQR.FINISHED_AT IS NOT NULL
           LEFT JOIN USER_ACCOUNT UA ON U.USER_SEQ = UA.user_seq
    GROUP BY U.USER_SEQ, U.USER_ID, U.USER_NAME, U.USER_LEVEL, UA.CASH_BALANCE
  </select>
  <select id="getTotalUserCount" resultType="java.lang.Integer">
    SELECT COUNT(USER_SEQ) AS totUserCnt
    FROM USERS;
  </select>
</mapper>