<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 레벨/챕터/레슨 조회 -->
<mapper namespace="com.tickerbell.jujuclub.roadMap.mapper.RoadMapMapper">
    <select id="allLearningList" resultType="com.tickerbell.jujuclub.roadMap.dto.LevelChapterLessonDTO">
        SELECT
            lv.level_seq AS levelId,
            lv.level_name AS levelName,
            ch.chapter_id AS chapterId,
            ch.chapter_name AS chapterName,
            ch.reward_cash AS testReward,
            ch.test_pay AS testPay,
            ls.lesson_id AS lessonId,
            ls.lesson_name AS lessonName,
            ls.description AS lessonDesc,
            ls.lesson_type AS lessonType
        FROM learning_level AS lv
                 JOIN learning_chapter AS ch ON lv.level_seq = ch.level_seq
                 JOIN learning_lesson AS ls ON ch.chapter_id = ls.chapter_id
        ORDER BY 1, 3, 7
    </select>

    <select id="levelList" resultType="com.tickerbell.jujuclub.roadMap.dto.LevelDTO">
        select level_seq AS levelId,
               level_name AS levelName
        from learning_level
    </select>

    <select id="chapterList" resultType="com.tickerbell.jujuclub.roadMap.dto.ChapterDTO">
        select lv.level_seq AS levelSeq,
               ch.chapter_id AS chapterId,
               ch.chapter_name AS chapterName,
               ch.reward_cash AS testReward,
               ch.test_pay AS testPay
        from learning_level as lv left join learning_chapter as ch
        on lv.level_seq = ch.level_seq
        where lv.level_seq = #{level_seq}
    </select>

    <select id="userLessonList" resultType="com.tickerbell.jujuclub.roadMap.dto.UserLessonDTO">
        select result_seq as resultId,
               lv.level_seq AS levelId,
               lv.level_name AS levelName,
               ch.chapter_id AS chapterId,
               ch.chapter_name AS chapterName,
               us.lesson_id as lessonId,
               us.started_at as startDate,
               us.finished_at as endDate
        from user_question_result AS us
                 JOIN learning_lesson AS ls ON us.lesson_id = ls.lesson_id
                 JOIN learning_chapter AS ch ON ch.chapter_id = ls.chapter_id
                 JOIN learning_level as lv ON lv.level_seq = ch.level_seq
        where user_seq = #{user_seq}
        order by levelId desc, chapterId desc, lessonId desc
    </select>
    <select id="missionList" resultType="com.tickerbell.jujuclub.roadMap.dto.MissionDTO">
        select
            mission_seq AS missionId,
            mission_type AS type,
            mission_title AS content,
            mission_reward AS reward,
            target_value AS count
            from mission
    </select>

    <select id="missionCheck" resultType="com.tickerbell.jujuclub.roadMap.dto.MissionCheckDTO">
        SELECT
            (SELECT COUNT(*)
             FROM user_question_result
             WHERE DATE_FORMAT(finished_at, '%Y-%m-%d') = CURDATE()) AS lesson,

            (SELECT COUNT(*)
             FROM user_test_result
             WHERE DATE_FORMAT(tested_at, '%Y-%m-%d') = CURDATE())   AS chapterTest,

            (SELECT COUNT(*)
             FROM mock_trade
             WHERE DATE_FORMAT(traded_at, '%Y-%m-%d') = CURDATE())   AS buyStocks,

            (SELECT COUNT(*)
             FROM user_watchlist
             WHERE DATE_FORMAT(created_at, '%Y-%m-%d') = CURDATE())  AS watchList
        FROM DUAL
    </select>

    <select id="chapterTestResult" resultType="com.tickerbell.jujuclub.roadMap.dto.ChapterResultDTO">
        select test_result_seq as resultSeq,
               user_seq as userSeq,
               chapter_id as chapterId,
               score,
               is_pass as isPass,
               tested_at as testDate
        from user_test_result
        where user_seq = ${user_seq}
    </select>

</mapper>